body {
	font-family: "Microsoft Yahei", Arial, Verdana, sans-serif;
}

body a {
	text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
	color: #888;
}

.container h1 {
	margin: 10px auto;
	text-align: center;
	color: #888;
}

